/* Light Mode */
[data-theme="light"]{
    --bg-color: #ffffff;
    --text-color: #212529;
    --navbar-bg: #efefed;
    --footer-bg: #efefed;
    --container-color: #ffffff;
    --hover-color: #dddde2;
}

/* Dark Mode */
[data-theme="dark"] {
    --bg-color: #454653;
    --text-color: #f8f9fa;
    --navbar-bg: #2e2f38;
    --footer-bg: #2e2f38;
    --container-color: #535464;
    --hover-color: #656679;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Apply variables */
body { 
    background-color: var(--bg-color); 
    color: var(--text-color); 
}

header {
    margin: 0;
    padding: 0;
}

footer{
    bottom: 0;
    left: 0;
    width: 100%;
}

#navbar_container{
    background-color: var(--navbar-bg);
    top: 0;
    position: fixed;
}

.nav-link{
    color: var(--text-color); 
}


#footer_container{
    background-color: var(--footer-bg);
    margin-top: 40px;
}

.navbar-toggler{
    background-color: #f8f9fa;
}

.general_container {
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: var( --container-color);
}
